---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - geofront.nerv.com
  resources:
  - evas
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - geofront.nerv.com
  resources:
  - evas/finalizers
  verbs:
  - update
- apiGroups:
  - geofront.nerv.com
  resources:
  - evas/status
  verbs:
  - get
  - patch
  - update
